@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  background: #2f2841;
  color: #00ff88;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
}
#header a {
  color: #00ff88;
  text-decoration: none;
}
#tbtitle {
  margin-bottom: 25px;
  color: #00ff88;
}

.menu-list {
  list-style-type: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.menu-list a {
  color: #00ff88;
  text-decoration: none;
  font-size: 24px;
}

.menu-list a:hover {
  border-bottom: solid 2px #00ff88;
}

.main-unidades {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-unidades {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-unidades {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-unidades .card-unidades {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-unidades {
  width: 85%;

  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

#lista-unidades {
  overflow: auto;
}

.card-unidades > h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.label2 {
  color: #f0ffffde;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  --webkit-appearance: none;
  margin: 0;
}

.btn-unidades {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-unidades:active {
  opacity: 0.8;
}

.btn-unidades[disabled] {
  opacity: 0.7;
}

.margin-right {
  padding-right: 60px;
}

td {
  color: #00ff88;
  padding: 10px;
}
tbody:before {
  content: "@";
  display: block;
  line-height: 10px;
  text-indent: -99999px;
}
thead td {
  border-bottom: 3px solid #201b2c;
  padding-bottom: 10px;
}
dialog {
  border-radius: 27px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50vw;
}

dialog .card-unidades {
  width: 100%;
  /* justify-content: center; */
}
dialog .btn-unidades {
  margin-left: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

#close {
  float: right;
  font-size: 30px;
  color: red;
  cursor: pointer;
}

#options {
  background: #201b2c;
  padding-left: 7%;
  padding-top: 10px;
}
#options a {
  text-decoration: none;
  color: #00ff88;
  margin-right: 32px;
}
#options a:hover {
  border-bottom: solid 2px #00ff88;
}

.select-style {
  position: relative;
  background-color: #2d273f;
}
.select-style select {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px;
  box-shadow: 0px 10px 40px #00000056;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  padding: 15px;
  border: none;
  font-family: "Noto Sans", sans-serif;
}
@media only screen and (max-width: 950px) {
  .card-unidades {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .main-unidades {
    flex-direction: column;
  }
  .left-unidades > h1 {
    display: none;
  }

  .left-unidades {
    width: 100%;
    height: auto;
  }

  .right-unidades {
    width: 100%;
    height: auto;
  }

  .left-unidades-image {
    width: 50vw;
  }

  .card-unidades {
    width: 90%;
  }
}
